body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  background: #3E3C3C;
  
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  margin: 3%;
}

h1 a {
  text-decoration: none;
  color: #ffffff;  
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  width: 100px;
}

li a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;      
}

li a:hover {
  background: #b3adad;
}
