@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete Round:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=InaiMathi:400,500,600,700,800&display=swap');

body {
  margin: 0;
  padding: 0;
}

.page1 {
  height: 100vh;
  background-color: #1c1a19;
  background-image: url(images/Illustr.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
  display: grid;
  grid-template-columns: 75px 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-gap: 20px;
}

header .toggle-mobile,
header .mobile {
  display: none;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  background: #3e3c3c;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.6s;
}

header a {
  text-decoration: none;
}

header h1 {
  margin-left: 20%;
  font-size: 30px;
  color: #fff;
  white-space: nowrap;
  padding: 10px;
  padding-right: 28px;
}

header h1:hover {
  background: #b3adad;
  transition: 1s;
}


header ul {
  display: flex;
  justify-content: flex-end;
}

header li {
  text-align: center;
  list-style: none;
  width: 115px;
}

header li a {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

header li a:hover {
  background: #b3adad;
  transition: 1s;
}

.asidemobile {
  display: none;
}

.asidedesktop {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.asidedesktop ul {
  display: flex;
  padding: 20%;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.asidedesktop ul li {
  list-style: none;
  height: 100px;
}

.asidedesktop ul li i {
  color: #cfcfcf;
}

.page4 .mediacontainer ul li i {
  margin: 10px;
  color: #505f79;
  transform: scale(1);
  transition: 1s;
}

.asidedesktop ul li a:hover i {
  color: rgb(248, 176, 245);
  transition: 0.8s;
}

.home {
  grid-column: 2;
  grid-row: 2 / 3;
}

.home .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 71px;
  color: #f55800;
}

.page4 h3 {
  grid-column: 1 / 2;
  grid-row: 1;
  font-family: 'Inter', serif;
  font-size: 40px;
}

.home .text h3 {
  color: #fff;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.home .text p {
  color: #f4f5f7;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.home .image {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.page2 {
  min-height: 100vh;
  padding: 0 141px;
  display: grid;
  grid-template-rows: 3fr;
  /* grid-template-rows: 2fr 3fr; for when Offenbachgp is online */
  grid-gap: 10px;
}

.page2.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.page2 .title1 h3 {
  background-color: #fff;
  padding-top: 50px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #091e42;
}

.page2 .title1 h3::after {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid #212121;
  width: 70%;
  margin: 0 1rem;
  transform: translateY(20px);
}

.page2 .title1 .hr {
  display: none;
}

.page2 .description h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.page2 .description p {
  padding: 5px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}

.page2 img {
  width: 60%;
  object-fit: fill;
  float: left;
  padding-right: 10px;
}

.page2 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.page2 ul li {
  border: 1px solid black;
  padding: 12px 20px;
  margin: 2px;
}

.page2 .buttontypeA {
  margin-top: 40px;
}

.page2 .buttontypeA a {
  text-decoration: none;
  font-family: 'Inter', serif;
  font-size: 17px;
  color: white;
  margin: 2px;
  padding: 15px;
  background-color: #ff6b00;
}

.page3 .buttontypeA a {
  text-decoration: none;
  font-family: 'Inter', serif;
  font-size: 17px;
  color: white;
  padding: 15px;
  background-color: #ff6b00;
}

.page2 .buttontypeB a {
  display: block;
  background: #ff6b00;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-family: 'Inter', serif;
  font-size: 20px;
  color: white;
}

.page2 .site a {
  text-decoration: none;
  cursor: pointer;
}

.page2 .site6 {
  background-image: url(images/modinos.png);
}

.page2 .buttontypeA a:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.page3 .buttontypeA {
  margin: 50px 0;
}

.page3 .buttontypeA a:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.page2 .site {
  float: left;
  height: 435px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 336px;
}

.page2 .site1 {
  background-image: url(images/spoiledeggs.png);
}

.page2 .site1p5 {
  background-image: url(images/laragigs.png);
}

.page2 .site2 {
  background-image: url(images/classicatournee.png);
}

.page2 .site2p5 {
  background-image: url(images/weather.png);
}

.page2 .site3 {
  background-image: url(images/operapathway.png);
}

.page2 .site3p5 {
  background-image: url(images/localstorage.png);
}

.page2 .site4 {
  background-image: url(images/singthemastersmob.png);
}

.page2 .site4p5 {
  background-image: url(images/tictactoe.png);
}

.page2 .site5 {
  background-image: url(images/threejs.png);
}

.page2 .site5p5 {
  background-image: url(images/calculator.png);
}

.page2 .site6 {
  background-image: url(images/etchasketch.png);
}

.page2 .site7 {
  background-image: url(images/angular.png);
}
.page2 .site8 {
  background-image: url(images/webpack.png);
}
.page2 .site9 {
  background-image: url(images/codingportfolio.png);
}
.page2 .site10 {
  background-image: url(images/modinos.png);
}

.page2 .site a .buttondecor p {
  display: none;
}

.page2 .site a:hover .buttondecor p {
  position: relative;
  bottom: 70px;
  display: block;
  text-align: center;
  background: #ff6b00;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-family: 'Inter', serif;
  font-size: 20px;
  color: white;
}

.page2 .site .greyout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0.8), rgb(0, 0, 0));
}

.page2 .site .greyout:hover {
  transition: 1s;
  opacity: 0;
}

.page2 .buttontypeB {
  position: relative;
  top: 90%;
  text-align: center;
}

.page2 .buttontypeB a:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.page2 .title {
  text-align: left;
  padding-top: 90px;
  padding-left: 10px;
  font-size: 40px;
  color: white;
}

.page2 .container2 {
  margin-top: 30px;
}

.page3 .text {
  max-width: 50%;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  padding-right: 24px;
}

.page2 .site .text {
  padding: 0 10px;
  color: white;
}

.page4 form ul {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.page2 .site ul {
  padding: 0 5px;
}

.page4 form ul li {
  font-family: 'Inter', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page2 .site ul li {
  background: grey;
  opacity: 0.8;
  border: none;
  color: white;
  padding: 12px 20px;
  margin: 2px;
}

.page3 {
  min-height: 100vh;
  background-color: #1c1a19;
  background-image: url(images/group.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: 40%;
}

.page3 .container {
  display: grid;
  grid-template-rows: 100px 80px 291px 20px 200px;
  grid-template-columns: auto;
  grid-gap: 14px;
  padding: 0 84px;
}

.page3 .title {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  margin-top: 0;
  letter-spacing: 0.37px;
}

.page3 .container .hr {
  margin: 170px 0;
  padding-right: 24px;
}

.page3 .container .nested {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  margin: 80px 0;
}

.page3 .container .nested .header {
  text-align: left;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.page3 .container .nested .long {
  font-size: 20px;
}

.page4 ul li a:hover i {
  color: rgb(248, 176, 245);
  transform: scale(1.5);
  transition: 1s;
}

.page3 .container .header i {
  color: #ff6b00;
  font-size: 32px;
}

.page3 .container .nested .rhombus i {
  transform: rotate(45deg);
  color: #ff6b00;
}

.page3 .container .nested .list {
  list-style: none;
  padding: 0;
}

.page4 .mediacontainer ul li {
  margin: 5%;
}

.page3 .container .nested .list li {
  margin: 10px;
  color: white;
  list-style: none;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  text-align: left;
}

.page4 {
  height: 100vh;
  font-family: 'Inter', serif;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.page4 .titleForm {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
}

.page4 form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.page4 form #getintouch {
  grid-column: 1 / 3;
  grid-row: 2;
  border: none;
  justify-self: center;
  text-decoration: none;
  font-family: 'Inter', serif;
  font-size: 17px;
  color: white;
  padding: 15px;
  background-color: #ff6b00;
}

.page4 form #getintouch:hover {
  cursor: pointer;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.page4 form ul li input {
  border: none;
  height: 37px;
}

.page4 .error {
  border: 1px solid red;
}

.page4 #error {
  color: #e74c3c;
  visibility: visible;
}

.page4 form ul li input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979493;
  opacity: 1; /* Firefox */
  padding: 10px;
}

.page4 form ul li input::-ms-input-placeholder { /* Microsoft Edge */
  color: #979493;
}

.page4 form ul li input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #979493;
}

.page4 form ul li textarea {
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 150px;
  background: #fbf8f7;
}

.page4 form ul li textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3c3a39;
  opacity: 1; /* Firefox */
  font-family: sans-serif;
  padding: 10px;
}

.page4 form ul li textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #3c3a39;
}

.page4 form ul li textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3c3a39;
}

.page4 .mediacontainer {
  bottom: 0;
}

.page4 .mediacontainer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

#popUp {
  position: fixed;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 631px;
  width: 1156px; */
  height: 70%;
  width: 70%;
  background: #fff;
  padding: 24px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popUp.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popUp.active .closer {
  position: fixed;
  right: 38px;
  top: 38px;
  cursor: pointer;
}

#popUp.active a {
  font-size: 20px;
  color: #67798e;
}

#popUp.active h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  align-self: flex-start;
  color: #172b4d;
}

#popUp.active ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

#popUp.active ul li {
  padding: 5px 20px;
  margin: 9px 15px 0 0;
  border: 1px solid #3c3a39;
}

#popUp.active ul li a {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

#popUp.active .img {
  float: left;
  width: 40%;
}

#popUp.active img {
  max-width: 100%;
}

#popUp.active .text {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
  height: 72%;
  padding: 0 25px;
}

#popUp.active .text p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

#popUp.active .text ul {
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

#popUp.active .text ul li {
  margin: -20px 10px 0 -19px;
  border: none;
}

#popUp.active .text ul li a {
  background: #f55800;
  padding: 13px 20px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

#popUp.active .text ul li a img {
  margin: -6px;
  padding-left: 10px;
}

#popUp.active .text ul li a:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

@media (max-width: 972px) {
  .desktop {
    display: none;
  }

  .active {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh;
  }

  .active .desktop {
    display: block;
    width: 100%;
  }

  .asidemobile ul {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .asidemobile ul li {
    list-style: none;
    padding: 20px;
  }

  .asidemobile ul li i {
    color: #cfcfcf;
  }

  .page2 ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .page4 form ul {
    grid-column: 1;
    grid-row: 2;
  }

  .active .desktop ul {
    display: block;
    padding: 0;
    margin-left: 24px;
    margin-right: 64px;
  }

  .page2 ul li {
    border: 1px solid black;
    margin: 2px;
  }

  .active .desktop li {
    text-align: start;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #6f6c6b;
  }

  .active .desktop a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }

  .active .mobile i {
    display: none;
  }

  .active .desktop a i {
    display: none;
  }

  header .mobile {
    display: flex;
    color: #fff;
    margin: 40px;
  }

  .active .mobile {
    align-self: flex-end;
  }

  .mobile .bars {
    display: flex;
    flex-direction: column;
  }

  .mobile .bars .bar {
    border: 2px solid white;
    width: 30px;
    margin: 5px;
  }

  .mobile .close {
    display: none;
  }

  .active .mobile .bars {
    display: none;
  }

  .active .mobile .close {
    display: block;
  }

  .active .mobile .close .firstLine,
  .active .mobile .close .secondLine {
    border: 2px solid white;
    width: 30px;
    margin: 5px;
  }

  .active .mobile .close .firstLine {
    transform: rotate(45deg) translate(-2px, 10px);
  }

  .active .mobile .close .secondLine {
    transform: rotate(-45deg) translate(-2px, -7px);
  }

  .page1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 4fr 3fr;
    grid-gap: 8px;
    height: 100vh;
  }

  header {
    height: 100px;
    align-items: center;
  }

  header h1 {
    font-size: x-large;
  }

  .active h1 {
    display: none;
  }

  .active .toggle-mobile {
    display: block;
    text-align: end;
    color: #fff;
    margin: 40px;
  }

  .home {
    grid-column: 1 / 2;
    grid-row: 2;
    z-index: 9;
  }

  .home .text {
    padding-left: 5%;
  }

  .home .text h2 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #f55800;
  }

  .page4 h3 {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    grid-column: 1;
    grid-row: 1;
  }

  .home .text h3 {
    color: #fff;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
  }

  .home .text p {
    color: #f4f5f7;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  .home .image {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .asidedesktop {
    display: none;
  }

  .asidemobile {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
  }

  .page2 {
    min-height: 100vh;
    padding: 0 0;
    grid-template-rows: 2.3fr;
    /* grid-template-rows: 1fr 2.3fr; for when offenbachgp is up*/
  }

  .page2 .container {
    display: grid;
    grid-template-rows: 229px 557px 278px 150px 149px;
    grid-template-columns: auto;
    grid-gap: 24px;
    background-color: #fff;
    padding: 24px;
  }

  .page2 .title1 h3 {
    display: block;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
  }

  .page2 .title1 .hr {
    display: block;
  }

  .page2 .title1 h3::after {
    display: none;
  }

  .page2 img {
    width: 100%;
    object-fit: fill;
    float: left;
    padding-right: 10px;
  }

  .page2 .buttontypeA {
    margin-top: 4px;
  }

  .page2 .description h3 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
  }

  .page2 .site a .buttondecor p {
    position: relative;
    bottom: 70px;
    display: block;
    text-align: center;
    background: #ff6b00;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Inter', serif;
    font-size: 20px;
    color: white;
  }

  .page2 .site .greyout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
  }

  .page2 .site1 .title {
    padding-top: 22px;
  }

  .page2 .buttontypeB {
    position: relative;
    top: 90%;
    text-align: center;
  }

  .page2 .site {
    margin: 20px;
  }

  .page3 {
    background-position: 240% 30%;
    background-size: 70%;
  }

  .page3 .container {
    display: grid;
    grid-template-rows: 77px 86px 340px 172px 209px;
    grid-template-columns: 327px;
    grid-gap: 14px;
    padding: 0 24px;
  }

  .page3 .title {
    font-size: 45px;
  }
  .page3 .text {
    max-width: 100%;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    padding-right: 24px;
  }

  .page3 .container .hr {
    margin: 170px 0;
    padding: 0;
  }

  .page3 .container .nested .header {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .page3 .container .nested .long {
    font-size: 22px;
  }

  .page3 .container .nested .list li {
    text-align: center;
    font-size: 22px;
    line-height: 43px;
  }

  .page3 .container .nested {
    flex-direction: column;
  }

  #popUp {
    width: 80%;
    top: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #popUp img,
  #popUp .img,
  #popUp.active .text {
    width: 100%;
  }

  #popUp.active .text ul li {
    margin-right: -21px;
  }

  #popUp.active .text ul li a {
    font-size: 12px;
    padding-right: 2px;
  }

  #popUp.active .text ul li a img {
    width: 20px;
    padding-right: 15px;
  }

  .page4 {
    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-gap: 135px;
  }

  .page4 form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .page4 .titleForm {
    padding: 0 24px;
  }

  .page4 form #getintouch {
    grid-column: 1;
    grid-row: 3;
  }

  .page4 .mediacontainer ul li i {
    font-size: 28px;
    margin: 10px;
    color: #505f79;
  }
}

@media (max-width: 485px) {
  .desktop {
    display: none;
  }

  .page2 .container {
    display: grid;
    grid-template-rows: 229px 238px 278px 150px 149px;
  }
}